<a href="https://colab.research.google.com/github/punkmic/Pandas/blob/master/Pandas_with_time_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Import dataset**

In [4]:
import pandas as pd

df = pd.util.testing.makeTimeDataFrame()
df.head()

                   A         B         C         D
2000-01-03 -0.952111  1.436462 -0.525083  1.611187
2000-01-04 -1.439990  0.639545 -0.210884 -0.396679
2000-01-05  0.772416 -0.565872  0.051381 -0.187343
2000-01-06 -1.132686  0.728820  1.142725 -0.124880
2000-01-07  1.391444  0.198317  0.915389 -1.725106

In [8]:
df['datetime'] = df.index
# convert to int as a real example
df['datetime'] = df['datetime'].astype('int64')
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: casting datetime64[ns] values to int64 with .astype(...) is deprecated and will raise in a future version. Use .view(...) instead.

                   A         B         C         D            datetime
2000-01-03 -0.952111  1.436462 -0.525083  1.611187  946857600000000000
2000-01-04 -1.439990  0.639545 -0.210884 -0.396679  946944000000000000
2000-01-05  0.772416 -0.565872  0.051381 -0.187343  947030400000000000
2000-01-06 -1.132686  0.728820  1.142725 -0.124880  947116800000000000
2000-01-07  1.391444  0.198317  0.915389 -1.725106  947203200000000000

### **Convert not datetime values to datetime**

In [10]:

df['datetime'] = pd.to_datetime(df['datetime'])
df.head()

                   A         B         C         D   datetime
2000-01-03 -0.952111  1.436462 -0.525083  1.611187 2000-01-03
2000-01-04 -1.439990  0.639545 -0.210884 -0.396679 2000-01-04
2000-01-05  0.772416 -0.565872  0.051381 -0.187343 2000-01-05
2000-01-06 -1.132686  0.728820  1.142725 -0.124880 2000-01-06
2000-01-07  1.391444  0.198317  0.915389 -1.725106 2000-01-07

### **Group by year**

In [11]:
df.groupby(df['datetime'].dt.year)['A'].sum()

datetime
2000   -1.809144
Name: A, dtype: float64

### **Create year, month, day column**

In [14]:
df['year'] = df['datetime'].dt.year
df['month'] = df['datetime'].dt.month
df['day'] = df['datetime'].dt.day
df.head()

,A,B,C,D,datetime,year,month,day
2000-01-03,-0.952111,1.436462,-0.525083,1.611187,2000-01-03,2000,1,3
2000-01-04,-1.439990,0.639545,-0.210884,-0.396679,2000-01-04,2000,1,4
2000-01-05,0.772416,-0.565872,0.051381,-0.187343,2000-01-05,2000,1,5
2000-01-06,-1.132686,0.728820,1.142725,-0.124880,2000-01-06,2000,1,6
2000-01-07,1.391444,0.198317,0.915389,-1.725106,2000-01-07,2000,1,7

### **Calculate days of difference**

In [15]:
df['daysOfDiferrence'] = df['day'] - df['day'].min()
df.head()

,A,B,C,D,datetime,year,month,day,daysOfDiferrence
2000-01-03,-0.952111,1.436462,-0.525083,1.611187,2000-01-03,2000,1,3,2
2000-01-04,-1.439990,0.639545,-0.210884,-0.396679,2000-01-04,2000,1,4,3
2000-01-05,0.772416,-0.565872,0.051381,-0.187343,2000-01-05,2000,1,5,4
2000-01-06,-1.132686,0.728820,1.142725,-0.124880,2000-01-06,2000,1,6,5
2000-01-07,1.391444,0.198317,0.915389,-1.725106,2000-01-07,2000,1,7,6

### **Filter by date**

In [17]:
df.loc[(df['datetime'].dt.year == 2000) & (df['datetime'].dt.day == 10)]

,A,B,C,D,datetime,year,month,day,daysOfDiferrence
2000-01-10,-0.977430,0.487865,-1.669638,-0.431971,2000-01-10,2000,1,10,9
2000-02-10,-0.700346,-2.777861,-0.220522,-0.129137,2000-02-10,2000,2,10,9